<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <h2>Hi <span style="color: #008FAE;">{{name}}</span>,</h2>
        <p style="margin-bottom: 4px;">Click the Button or Open the Link to SignUp to Your HR Account with JobsWay</p>
        <a style="color: #fff; background-color: #008FAE; padding: 20px 30px 20px 30px; text-decoration: none; margin: 10px;"  href="https://{{link}}">SignUp to HR Account</a>
        <h3>OR</h3>
        <a href="https://{{link}}">{{link}}</a>
    </body>
</html>